@import "../../colors.scss";
@import "../../breakpoints.scss";

.app-products-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $background;
  justify-content: center;

  .categories {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100vw;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-large) {
      gap: 1rem;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: $grey;
      margin: 0 10px;
      padding: 10px;
      transition: all 0.3s;
      s &:hover {
        color: $orange;
      }
    }
    button.active {
      text-decoration: underline;
    }
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    width: 90vw;

    @media (max-width: $breakpoint-xlarge) {
      grid-template-columns: 1fr;
    }

    .product {
      border: 1px solid $borderGrey;
      margin: 10px;
      padding: 10px;
      background: $grey;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 650px;
      justify-self: center;
      align-self: center;

      @media (max-width: $breakpoint-xlarge) {
        width: 90vw;
      }

      h4 {
        margin-bottom: 20px;
      }

      p {
        margin: 0;
        margin-bottom: 10px;
      }

      p.description {
        width: 100%;
        white-space: nowrap;
        text-wrap: wrap;
        text-overflow: ellipsis;
        text-align: center;
      }

      .img {
        height: 100%;
        width: 100%;
        background: $imgMock;
        border-radius: 4px;
        align-self: center;
        justify-self: center;
        border: 1px solid $borderGrey;
        background-position: center;
      }

      .btn {
        border: 1px solid $grey;
        background: $orange;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background: $orangeHover;
          -webkit-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
          -moz-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
          box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
        }
      }
    }
  }
}
